.select {
  margin-left: 570px;
  margin-top: 60px;
  width: 200px;
  text-align: center;
}
h2 {
  /* margin-left: auto; */
  margin-top: 40px;
  color: rgb(41, 40, 38);
  text-align: center;
  position: relative;
  right: 80px;
  top: 40px;
}
